h1 {
    text-align: center;
    color: aqua;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
ul {
    color: blueviolet;
    text-align: center;
    font-size: 38px;
    
}